*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.hero-container{
    height: 500px;
    position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
    
   
}
.hero{
    display: flex;
    width: calc(350px * 12);
    animation: scroll 40s linear infinite;
}
.hero:hover{
    animation-play-state: paused;
}
.slide{
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
    width: 100%;
    transition: 1s;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 6));

    }
}
img:hover{
    transform: translateZ(20px);
}
.hero-container::before, .hero-container::after{
    
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
}
.hero-container::before{
    left: 0;
    top: 0;
}
.hero-container::after{
    right:0;
    top: 0;
    transform: rotateZ(180deg);
}

.gen{
    margin-top: 80px;
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #bb832f, #e1ffea22 60%)
}
/* .background{
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    padding: 0;
    
} */
/* .background img{
    width: 90%;
    object-fit: cover;
    border-radius: 150px;
    margin: 20px;
} */

.content{
    padding-top: 90px;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px auto;
}
.right-image{
    width: 100%;
    margin-left: 70px;

}
.right-image img{
    width: 500.68px;
    height: 463.84px;
    top: 268px;
    left: 828px;
    gap: 0px;
    object-fit: cover;
    border-radius: 250px;
    /* opacity: 0px; */

}
.left-p p span{
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-style: italic;
    font-weight: 200;
    padding: 10px;
    line-height: 80.64px;
    letter-spacing: 3%;
    text-align: left;
    color: rgb(79, 69, 11);
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
.left{
    width: 100%;
    padding-right: 15px;
}
.left-p p{
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80.64px;
    letter-spacing: 0.03em;
    text-align: left;
    
        /* font-family: "Pacifico";
        font-weight: 400;
        font-style: normal; */
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      
}

.right-p{
    
    padding-top: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    width: 100%;
    /* height: 90px; */
    top: 605px;
    left: 187px;
    /* opacity: 0px; */
    
}


.level-up-sub{
    /* width: 100%; */
    line-height: 1.7;

}
.level-up-sub > h4{
    /* padding-right: 290px; */
    text-align: center;
    padding: 0;
    font-size: larger;
    font-weight: 700;
}


.ready > p > span{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #bb832f;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  
}

.latest{
    width: 60%;
    border-radius: 25px;
    margin-left: 46px;
    background-color: #bb832f;
}



@media screen and (max-width: 780px){

    
}