/* .reviews{
    
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
} */
.testimonials > .sub{
    text-align: center;
    
}
.testimonials > .sub h3{
    font-size: 30px;
    padding: 10px 0;
}
.testimonials > .sub p{
    font-size: larger;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.reviews > div{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(132, 131, 121);
    /* width: 80%; */
    width: 100%;
    padding: 10px 60px;
    /* padding: 10px; */
}
.review-div h3{
    font-size: 30px;
    padding: 15px 0;
}
.review-div p{
    padding: 10px auto;
    line-height: 1.5;
}
.hero-container{
    height: 400px;
    position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
    
   
}
.review-btn{
    padding: 10px 14px;
    /* background-color: bisque; */
    background-color: rgb(132, 131, 121);
    border-color: transparent;
    border-radius: 6px;
    font-size: larger;
    margin-top: 5px;
}
.review-btn:hover{
    background-color: black;
    color: antiquewhite;

}
.reviews{
    display: flex;
    width: calc(350px * 6);
    animation: scroll 40s linear infinite;
}
.reviews:hover{
    animation-play-state: paused;
}
.review-div{
    height: 200px;
    width: 10%;
    display: flex;
    align-items: center;
    /* padding-top: 15px; */
    perspective: 100px;
  

}
.review-div{
    width: 100%;
    transition: 1s;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 4));

    }
}
.review-div:hover{
    transform: translateZ(20px);
}
.hero-container::before, .hero-container::after{
    
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
}
.hero-container::before{
    left: 0;
    top: 0;
}
.hero-container::after{
    right:0;
    top: 0;
    transform: rotateZ(180deg);
}
.review-form{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    /* background-color: rgb(74, 56, 56); */
}
form input, textarea{
    padding: 13px;
    margin-top: 15px;
    background-color: rgb(132, 131, 121);
    color: aliceblue;
    width: 50%;
}
@media screen and (max-width:780px){
    .reviews{
        /* display: block; */
        width: 100%;
       

    }
    .reviews{
        margin-top: 30px;
        
    }
    .review-div{
        display: block;
        width: 250px;
        margin: 10px;
        height: 450px;
        font-size: smaller;
    }
    
}
@media screen and (max-width:480px){
    .reviews{
        /* display: block; */
        width: 100%;
       

    }
    .reviews{
        margin-top: 30px;
        
    }
    .review-div{
        display: block;
        width: 250px;
        margin: 10px;
        height: 450px;
        font-size: smaller;
    }
    
}