.category-container{
    margin-top: 80px;
   
}
.category-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 20px auto;
    
    gap: 20px;
    
}
.show-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 20px 64px;
}

.image{
    display: flex;
    align-items: center;
}
.category-item{
    padding: 10px;
}
.explore-more{
    width: 170px;
    margin: 10px auto;
    font-size: 20px;
    background-color: rgb(12, 11, 10);
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 19px;
    font-weight: 500px;
}
.category-item h3{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.category-item hr{
    width: 70px;
    text-align: center;
    margin: auto;
    height: 6px;
    border-radius: 8px;
    background-color: black;
   
}
@media screen and (max-width:780px){
    .category-product{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

